/* Navigation */

nav {
	position: fixed;
	background-color: gray;
	padding-left: 60px;
	padding-right: 60px;
	height: 60px;
	left: 0;
	top: 0;
	width: 100%;
}

.logo {
	border-radius: 50%;
	position: absolute;
	max-height: 100%;
	left: 30px;
}

ul {
	display: inline-block;
}

ul li {
	display: inline;
}

/* Design */

main {
	min-width: 1000px;
}

.box {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.cat, .dog {
	position: relative;
	width: 200px;
	height: 200px;
}

.cat {
	top: -100px;
	left: -70px;
}

.dog {
	bottom: 150px;
	right: -800px;
}

.background {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.body {
	background: url(images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}